@import url("custom.css");
@import url("../../../../../.config/executor@raujonas.github.io/custom.css");

/* This file will hold executor related css if needed someday*/
.mypanel-box {
  /* display: flex;
  flex-direction: column; */
  padding-top: 0px;
  font-size: 0.7em;
  color: #aaa;
}

.mypanel-vbox {
  /* background-color: #880000; */
}

.mylabel {
  /* required for some positioning? */
  font-size: .0em;
}

.mylabel2 {
  /* required for some positioning? */
  font-size: .0em;
  color: #fff;
}